/project/iar/Debug_m4/
/project/iar/Debug_m0_plus/
/project/iar/Debug_m7_0/
/project/iar/Debug_m7_1/
/project/iar/**/BrowseInfo/
/project/iar/**/Exe/
/project/iar/**/List/
/project/iar/**/Obj/
/project/iar/project_config/Debug/
/project/iar/**/settings/
__pycache__/
*.pyc
